.bodyMainFrame{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 150px 1fr;
}

.docknotesFrame{
    width: 150px;
    padding: 1rem;
    border-right: 1px solid black;
    >p{
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center;
        margin: 3rem 0;
    }
}

.addNoteButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    > button{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: none;
    }
    button:nth-child(1){
        background-color: #55a0f6;
    }
    button:nth-child(2){
        background-color: #e39d3c;
    }
    button:nth-child(3){
        background-color: #db663a;
    }
    button:nth-child(4){
        background-color: #cad952;
    }
    button:nth-child(5){
        background-color: #9469ec;
    }
}

.bodyFrame{
    > h1, > .notesFrame{
        margin: 1rem 4rem;
    }
}

.notesFrame{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.note{
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 15px;
    padding: 0.5rem;
    position: relative;
    > span{
        position: absolute;
        bottom: 0.3rem;
        left: 0.5rem;
    }
}

.editButton{
    position: absolute;
    bottom: 0.3rem;
    right: 0.3rem;
    padding: 0.7rem;
    border-radius: 50%;
    border: none;
    background-color: black;
    > i{
        color: white;
    }
}